<style>
html, body, #map-canvas {
  height: 100px;
  margin: 0px;
  padding: 0px
}
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<h1>Events</h1>

<input type="text_field" name="some_name" value="" id="search-events">
<input type="submit" name="some_name" value="Search" id="submit">

<div id="events"></div>
